<div class="menu">
  <ul>
    <li><a routerLink="info">Informations</a></li>
    <li><a routerLink="question1">Question 1</a></li>
    <li><a routerLink="question2">Question 2</a></li>
    <li><a routerLink="question3">Question 3</a></li>
    <li><a routerLink="question4">Question 4</a></li>
    <li><a routerLink="question5">Bonus</a></li>
  </ul>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
