.menu{
  border-bottom: 1px solid #000;
}
.menu ul{
  list-style: none;
  display: flex;
  align-items: center;
}
.menu li{
  padding: 10px;
}
.menu a{
  text-decoration: none;
  color: #000000;
}
.menu a:hover{
  text-decoration: underline;
}
.content{
  padding: 20px;
}
