<h3>Reproduire l'image en CSS</h3>
<div class="content">
  <div class="side">
    <p>Original</p>
    <img src="assets/question4.png" alt="">
  </div>
  <div class="side">
    <p>Réplique</p>
  </div>
</div>


